<!--
                          POP-UP D'ENREGISTREMENT
-->

<p-dialog header="ENREGISTREMENT D'UN QUESTIONNAIRE MEDICAL" [(visible)]="displayDialogue" [style]="{width: '50vw'}">
    <div class="col-12 md:col-12">
        <form #myForm="ngForm" name="myForm" role="form" novalidate>
            <div class="card p-fluid">

                <div class="card p-fluid">
                    <div class="mt-4">
                        <label htmlFor="detail1"> <b><h4>Question 1:  Avez-vous des antécédents médicaux et ou churirgicaux?</h4></b> </label>

                        <div class=" flex flex-wrap gap-3 p-fluid ">
                            <div class="col-1">
                                <label htmlFor="detail1"> <b>Oui / Non</b> </label>
                                <p-toggleButton [(ngModel)]="questionnaireMedical.question1" onLabel="Yes"
                                                offLabel="No"></p-toggleButton>
                            </div>
                            <div class="col-11" *ngIf="questionnaireMedical.question1 === true">
                                <label htmlFor="detail1"> <b>Detail</b> </label>
                                <input pInputText id="detail1" type="text" name="detail1"
                                       [(ngModel)]="questionnaireMedical.detail1"
                                       minlength="1"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <label htmlFor="detail1"> <b><h4>Question 2: Etes vous porteur d’une maladie chronique nécéssitant un traitement?</h4></b> </label>
                        <div class=" flex flex-wrap gap-3 p-fluid ">
                            <div class="col-1">
                                <label htmlFor="detail1"> <b>Oui / Non</b> </label>
                                <p-toggleButton [(ngModel)]="questionnaireMedical.question2" onLabel="Yes"
                                                offLabel="No"></p-toggleButton>
                            </div>
                            <div class="col-11" *ngIf="questionnaireMedical.question2 === true">
                                <label htmlFor="detail2"> <b>Detail</b> </label>
                                <input pInputText id="detail2" type="text" name="detail2"
                                       [(ngModel)]="questionnaireMedical.detail2"
                                       minlength="1"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <label htmlFor="detail1"> <b><h4>Question 3: Suivez vous un traitement médical?</h4></b> </label>
                        <div class=" flex flex-wrap gap-3 p-fluid ">
                            <div class="col-1">
                                <label htmlFor="detail1"> <b>Oui / Non</b> </label>
                                <p-toggleButton [(ngModel)]="questionnaireMedical.question3" onLabel="Yes"
                                                offLabel="No"></p-toggleButton>
                            </div>
                            <div class="col-11" *ngIf="questionnaireMedical.question3 === true">
                                <label htmlFor="detail3"> <b>Detail</b> </label>
                                <input pInputText id="detail3" type="text" name="detail3"
                                       [(ngModel)]="questionnaireMedical.detail3"
                                       minlength="1"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <label htmlFor="detail1"> <b><h4>Question 4: Avez-vous fait récemment un test d’Hepatite B et ou SIDA?</h4></b> </label>
                        <div class=" flex flex-wrap gap-3 p-fluid ">
                            <div class="col-1">
                                <label htmlFor="detail1"> <b>Oui / Non</b> </label>
                                <p-toggleButton [(ngModel)]="questionnaireMedical.question4" onLabel="Yes"
                                                offLabel="No"></p-toggleButton>
                            </div>
                            <div class="col-11" *ngIf="questionnaireMedical.question4 === true">
                                <label htmlFor="detail4"> <b>Detail</b> </label>
                                <input pInputText id="detail4" type="text" name="detail4"
                                       [(ngModel)]="questionnaireMedical.detail4"
                                       minlength="1"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <label htmlFor="detail1"> <b><h4>Question 5: Etes vous titulaire d’une pension d’invadilité?</h4></b> </label>
                        <div class=" flex flex-wrap gap-3 p-fluid ">
                            <div class="col-1">
                                <label htmlFor="detail1"> <b>Oui / Non</b> </label>
                                <p-toggleButton [(ngModel)]="questionnaireMedical.question5" onLabel="Yes"
                                                offLabel="No"></p-toggleButton>
                            </div>
                            <div class="col-11" *ngIf="questionnaireMedical.question5 === true">
                                <label htmlFor="detail5"> <b>Detail</b> </label>
                                <input pInputText id="detail5" type="text" name="detail5"
                                       [(ngModel)]="questionnaireMedical.detail5"
                                       minlength="1"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Annuler" icon="pi pi-times" (click)="onHidenDialogue()"
                class="p-button-danger mr-2 mb-2"></button>
        <button pButton pRipple ttype="submit" [disabled]="!myForm.valid" label="Enregistrer" icon="pi pi-save"
                (click)="onSave(questionnaireMedical); ngOnInit();"
                class="p-button-success mr-2 mb-2"></button>
    </ng-template>
</p-dialog>
<!--
                      FIN POP-UP D'ENREGISTREMENT
-->

<!--
                          POP-UP DE MODIFICATION
-->

<p-dialog header="MODIFICATION D'UNE BANQUE" [(visible)]="displayDialogueModification" [style]="{width: '50vw'}">
    <div class="col-12 md:col-12">
        <form #myForm="ngForm" name="myForm" role="form" novalidate>
            <div class="card p-fluid">

                <div class="field">
                    <label htmlFor="question1Modifier"> QUESTION 1 :AVEZ VOUS DES ANTECEDENTS MEDICAUX ET OU CHURIRGICAUX</label>
                    <input pInputText id="question1Modifier" type="text" name="question1Modifier"
                           [(ngModel)]="questionnaireMedical.question1"
                           minlength="1"
                    />
                </div>
                <div class="field">
                    <label htmlFor="question2Modifier">QUESTION2</label>
                    <input pInputText id="question2Modifier" type="text" name="question2Modifier"
                           [(ngModel)]="questionnaireMedical.question2"
                           minlength="1"
                    />
                </div>
                <div class="field">
                    <label htmlFor="question3Modifier">QUESTION3</label>
                    <input pInputText id="question3Modifier" type="text" name="question3Modifier"
                           [(ngModel)]="questionnaireMedical.question3"
                           minlength="1"
                    />
                </div>
                <div class="field">
                    <label htmlFor="question4Modifier">QUESTION4</label>
                    <input pInputText id="question4Modifier" type="text" name="question4Modifier"
                           [(ngModel)]="questionnaireMedical.question4"
                           minlength="1"
                    />
                </div>
                <div class="field">
                    <label htmlFor="question5Modifier">QUESTION5</label>
                    <input pInputText id="question5Modifier" type="text" name="question4Modifier"
                           [(ngModel)]="questionnaireMedical.question5"
                           minlength="1"
                    />
                </div>
                <div class="field">
                    <label htmlFor="detailsModifier">DETAILS</label>
                    <input pInputText id="detailsModifier" type="text" name="detailsModifier"
                           [(ngModel)]="questionnaireMedical.detail1"
                           minlength="1"
                    />
                </div>
            </div>

        </form>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Annuler" icon="pi pi-times" (click)="onHidenDialogueModif()"
                class="p-button-danger mr-2 mb-2"></button>
        <button pButton pRipple ttype="submit" [disabled]="!myForm.valid" label="Enregistrer" icon="pi pi-save"
                (click)="updateQuestionnaireMedical(questionnaireMedical.id, questionnaireMedical); ngOnInit();"
                class="p-button-success mr-2 mb-2"></button>
    </ng-template>
</p-dialog>

<!--
                        FIN  POP-UP DE MODIFICATION
-->

<!--
                          POP-UP DETAILS
-->

<p-dialog header="ENREGISTREMENT DES INFORMATIONS MEDICALES" [(visible)]="displayDialogueDetail" [style]="{width: '50vw'}">
    <div class="col-12 md:col-12">
        <div class="col-12 md:col-12">
            <div>
                <h5>
                    <span style="color: black;">QUESTION 1 :  </span>
                    <span [ngStyle]="{ color: 'blue' }">{{ questionnaireMedical?.question1 }}</span>

                </h5>
            </div>
            <div>
                <h5>
                    <span style="color: black;">QUESTION 2 :  </span>
                    <span [ngStyle]="{ color: 'blue' }">{{ questionnaireMedical?.question2 }}</span>

                </h5>
                <h5>
                    <span style="color: black;">QUESTION 3 :  </span>
                    <span [ngStyle]="{ color: 'blue' }">{{ questionnaireMedical?.question3 }}</span>

                </h5>
                <h5>
                    <span style="color: black;">QUESTION 4 :  </span>
                    <span [ngStyle]="{ color: 'blue' }">{{ questionnaireMedical?.question4 }}</span>

                </h5>
                <h5>
                    <span style="color: black;">QUESTION 5 :  </span>
                    <span [ngStyle]="{ color: 'blue' }">{{ questionnaireMedical?.question5 }}</span>

                </h5>

            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple type="button" label="Fermer" icon="pi pi-times"
                    (click)="displayDialogueDetail = false"
                    class="p-button-danger mr-2 mb-2"></button>
        </ng-template>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Annuler" icon="pi pi-times" (click)="onHidenDialogue()"
                class="p-button-danger mr-2 mb-2"></button>
    </ng-template>
</p-dialog>
<!--
                      FIN POP-UP DETAILS
-->


<div class="grid centerClass">
    <div class="col-12">
        <div class="card">
            <div class="my-custom-text">
                <h5 class="my-custom-text">LISTES DES QUESTIONNAIRES MEDICALS</h5>
            </div>
            <p-table #dt1 [value]="questionnaireMedicals" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
                     styleClass="p-datatable-gridlines" [paginator]="true"
                     [globalFilterFields]="['question1','question2', 'question3','question4', 'question5', 'details']"
                     responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div>
                            <button pButton pRipple type="button" label="Ajouter" icon="pi pi-plus"
                                    (click)="onDisplayDialogue(questionnaireMedical)"
                                    class="p-button-info mr-2 mb-2"></button>
                            <!--<button pButton label="Effacer" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>-->
                        </div>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter
                                   (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                   class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="question1">QUESTION1
                            <p-sortIcon field="question1"></p-sortIcon>
                        </th>
                        <th pSortableColumn="question2"> QUESTION2
                            <p-sortIcon field="question2"></p-sortIcon>
                        </th>
                        <th>
                        <th pSortableColumn="question3">QUESTION3
                            <p-sortIcon field="question3"></p-sortIcon>
                        </th>
                        <th pSortableColumn="question4"> QUESTION4
                            <p-sortIcon field="question4"></p-sortIcon>
                        </th>
                        <th pSortableColumn="question5"> QUESTION5
                            <p-sortIcon field="question5"></p-sortIcon>
                        </th>
                        <th pSortableColumn="details"> DETAILS
                            <p-sortIcon field="details"></p-sortIcon>
                        </th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                ACTIONS
                            </div>
                        </th>


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-questionnaireMedical>
                    <tr>
                        <td>
                            {{questionnaireMedical?.question1}}
                        </td>
                        <td>
                            {{questionnaireMedical?.question2}}
                        </td>
                        <td>
                            {{questionnaireMedical?.question3}}
                        </td>
                        <td>
                            {{questionnaireMedical?.question4}}
                        </td>
                        <td>
                            {{questionnaireMedical?.question5}}
                        </td>
                        <td>
                            {{questionnaireMedical?.details}}
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                    (click)="onDisplayDialogueModif(this.questionnaireMedical?.id, this.questionnaireMedical)"
                                    class="p-button-success mr-2 mb-2">
                            </button>

                            <button pButton pRipple type="button" icon="pi pi-trash"
                                    (click)="deleteQuestionnaireMedical(this.questionnaireMedical?.id, this.questionnaireMedical)"
                                    class="p-button-danger mr-2 mb-2"></button>

                            <button pButton pRipple type="button" icon="pi pi-eye"
                                    (click)="onDisplayDialoguDetail(this.questionnaireMedical)"
                                    class="p-button-info mr-2 mb-2">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12">Pas de QUESTIONNaire</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="12">Chargement des données. Veuillez patienter.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Il y'a au total {{ questionnaireMedicals ? questionnaireMedicals.length : 0 }} emplois.
                    </div>
                </ng-template>
            </p-table>
        </div>

    </div>

</div>
<p-toast></p-toast>
<p-confirmPopup [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-confirmPopup>
