
<!--
                          POP-UP D'ENREGISTREMENT
-->

<p-dialog header="ENREGISTREMENT D'UNE PERSONNE" [(visible)]="displayDialogue" [style]="{width: '50vw'}">
    <div class="col-12 md:col-12" >
    <form  #myForm="ngForm" name="myForm" role="form" novalidate>
        <div class="card p-fluid">

            <div class="field">
                <div class="col"></div>
                <label htmlFor="nom">NOM</label>
                <input pInputText id="nom" type="text" name="description" [(ngModel)]="personne.nom"
                       minlength="0.5"s
                />
            </div>

            <div class="field">
                <div class="col"></div>
                <label htmlFor="prenom">PRENOM</label>
                <input pInputText id="prenom" type="text" name="description" [(ngModel)]="personne.prenom"
                       minlength="1"
                />
            </div>


        <div class="field">
            <label htmlFor="nomDeJeuneFille">NOMDEJEUNEFILLE</label>
            <input pInputText id="nomDeJeuneFille" type="text" name="description" [(ngModel)]="personne.nomDeJeuneFille"
                   minlength="1"
            />
        </div>


        <div class="field">
            <label htmlFor="dateDeNaissance">DATEDENAISSANCE</label>
            <input pInputText id="dateDeNaissance" type="text" name="description" [(ngModel)]="personne.dateDeNaissance"
                   minlength="1"
            />
        </div>


        <div class="field">
            <label htmlFor="lieuDeNaissance">LIEUDENAISSANCE</label>
            <input pInputText id="lieuDeNaissance" type="text" name="description" [(ngModel)]="personne.lieuDeNaissance"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="taille">TAILLE</label>
            <input pInputText id="taille" type="text" name="description" [(ngModel)]="personne.taille"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="poids">POIDS</label>
            <input pInputText id="poids" type="text" name="description" [(ngModel)]="personne.poids"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="tension">TENSION</label>
            <input pInputText id="tension" type="text" name="description" [(ngModel)]="personne.tension"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="professionActuelle">PROFESSIONACTUELLE</label>
            <input pInputText id="professionActuelle" type="text" name="description" [(ngModel)]="personne.professionActuelle"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="employeur">EMPLOYEUR</label>
            <input pInputText id="employeur" type="text" name="description" [(ngModel)]="personne.employeur"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="numeroPiecePasseport">NUMEROPIECEPASSEPORT</label>
            <input pInputText id="numeroPiecepasseport" type="text" name="description" [(ngModel)]="personne.numeroPiecePasseport"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="dateEtablissement">DATEETABLISSEMENT</label>
            <input pInputText id="dateEtablissement" type="text" name="description" [(ngModel)]="personne.dateEtablissement"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="lieuEtablissement">LIEUETABLISSEMENT</label>
            <input pInputText id="lieuEtablissement" type="text" name="description" [(ngModel)]="personne.lieuEtablissement"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="adressePostale">ADRESSEPOSTALE</label>
            <input pInputText id="adressePostale" type="text" name="description" [(ngModel)]="personne.adressePostale"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="telephone">TELEPHONE</label>
            <input pInputText id="telephone" type="text" name="description" [(ngModel)]="personne.telephone"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="email">EMAIL</label>
            <input pInputText id="email" type="text" name="description" [(ngModel)]="personne.email"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="telephoneSecours">TELEPHONESECOURS</label>
            <input pInputText id="telephoneSecours" type="text" name="description" [(ngModel)]="personne.telephoneSecours"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="emailSecours">EMAILSECOURS</label>
            <input pInputText id="emailSecours" type="text" name="description" [(ngModel)]="personne.emailSecours"
                   minlength="1"
            />
        </div>

        <div class="field">
            <label htmlFor="adresseSecours">ADRESSESECOURS</label>
            <input pInputText id="adresseSecours" type="text" name="description" [(ngModel)]="personne.adresseSecours"
                   minlength="1"
            />
        </div>
        </div>

        </form>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Annuler" icon="pi pi-times" (click)="onHidenDialogue()" class="p-button-danger mr-2 mb-2"></button>
        <button pButton pRipple ttype="submit" [disabled]="!myForm.valid"  label="Enregistrer" icon="pi pi-save" (click)="onSave(personne); ngOnInit();"
                class="p-button-success mr-2 mb-2"></button>
    </ng-template>
</p-dialog>
<!--
                      FIN POP-UP D'ENREGISTREMENT
-->

<!--
                          POP-UP DE MODIFICATION
-->

<p-dialog header="MODIFICATION D'UNE PERSONNE" [(visible)]="displayDialogueModification" [style]="{width: '50vw'}">
    <div class="col-12 md:col-12" >
        <form  #myForm="ngForm" name="myForm" role="form" novalidate>
            <div class="card p-fluid">

                <div class="field">
                    <label htmlFor="nomModifier">NOM</label>
                    <input pInputText id="nomModifier" type="text" name="nomModifier" [(ngModel)]="personne.nom"
                           minlength="1"
                    />
                </div>
                <div class="field">
                    <label htmlFor="prenomModifier">PRENOM</label>
                    <input pInputText id="prenomModifier" type="text" name="prenomModifier" [(ngModel)]="personne.prenom"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="nomDeJeuneFilleModifier">NOMDEJEUNEFILLE</label>
                    <input pInputText id="nomDeJeuneFilleModifier" type="text" name="nomDeJeuneFilleModifier" [(ngModel)]="personne.nomDeJeuneFille"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="dateDeNaaissance">DATEDENAISSANCE</label>
                    <input pInputText id="dateDeNaissanceModifier" type="text" name="dateDeNaissanceModifier" [(ngModel)]="personne.dateDeNaissance"
                           minlength="1"
                    />
                </div>


                <div class="field">
                    <label htmlFor="lieuDeNaissance">LIEUDENAISSANCE</label>
                    <input pInputText id="lieuDeNaissanceModifier" type="text" name="lieuDeNaissanceModifier" [(ngModel)]="personne.lieuDeNaissance"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="taille">TAILLE</label>
                    <input pInputText id="tailleModifier" type="text" name="tailleModifier" [(ngModel)]="personne.taille"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="poids">POIDS</label>
                    <input pInputText id="poidsModifier" type="text" name="poidsModifier" [(ngModel)]="personne.poids"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="tension">TENSION</label>
                    <input pInputText id="tensionModifier" type="text" name="tensionModifier" [(ngModel)]="personne.tension"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="professionActuelle">PROFESSIONACTUELLE</label>
                    <input pInputText id="professionActuelleModifier" type="text" name="professionActuelleModifier" [(ngModel)]="personne.professionActuelle"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="employeur">EMPLOYEUR</label>
                    <input pInputText id="employeurModifier" type="text" name="employeurModifier" [(ngModel)]="personne.employeur"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="numeroPiecePasseport">NUMEROPIECEPASSEPORT</label>
                    <input pInputText id="numeroPiecepasseportModifier" type="text" name="numeroPiecepasseportModifier" [(ngModel)]="personne.numeroPiecePasseport"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="dateEtablissement">DATEETABLISSEMENT</label>
                    <input pInputText id="dateEtablissementModifier" type="text" name="dateEtablissementModifier" [(ngModel)]="personne.dateEtablissement"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="lieuEtablissement">LIEUETABLISSEMENT</label>
                    <input pInputText id="lieuEtablissementModifier" type="text" name="lieuEtablissementModifier" [(ngModel)]="personne.lieuEtablissement"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="adressePostale">ADRESSEPOSTALE</label>
                    <input pInputText id="adressePostaleModifier" type="text" name="adressePostaleModifier" [(ngModel)]="personne.adressePostale"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="telephone">TELEPHONE</label>
                    <input pInputText id="telephoneModifier" type="text" name="telephoneModifier" [(ngModel)]="personne.telephone"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="email">EMAIL</label>
                    <input pInputText id="emailModifier" type="text" name="emailModifier" [(ngModel)]="personne.email"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="telephoneSecours">TELEPHONESECOURS</label>
                    <input pInputText id="telephoneSecoursModifier" type="text" name="telephoneSecoursModifier" [(ngModel)]="personne.telephoneSecours"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="emailSecours">EMAILSECOURS</label>
                    <input pInputText id="emailSecoursModifier" type="text" name="emailSecoursModifier" [(ngModel)]="personne.emailSecours"
                           minlength="1"
                    />
                </div>

                <div class="field">
                    <label htmlFor="adresseSecours">ADRESSESECOURS</label>
                    <input pInputText id="adresseSecoursModifier" type="text" name="adresseSecoursModifier" [(ngModel)]="personne.adresseSecours"
                           minlength="1"
                    />
                </div>
            </div>

        </form>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Annuler" icon="pi pi-times" (click)="onHidenDialogueModif()" class="p-button-danger mr-2 mb-2"></button>
        <button pButton pRipple ttype="submit" [disabled]="!myForm.valid"  label="Enregistrer" icon="pi pi-save" (click)="updatePersonne(personne.id, personne); ngOnInit();"
                class="p-button-success mr-2 mb-2"></button>
    </ng-template>
</p-dialog>

<!--
                        FIN  POP-UP DE MODIFICATION
-->

<div class="grid centerClass">
    <div class="col-12">
        <div class="card">
            <div class="my-custom-text">
                <h5 class="my-custom-text">LISTES DES PERSONNES</h5>
            </div>
            <p-table #dt1 [value]="personnes" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['nom','prenom','nomDeJeuneFille',
            'dateDeNaissance', 'lieuDeNaissance', 'taille', 'poids', 'tension', 'professionActuelle', 'employeur', 'numeroPiecePasseport', 'dateEtablissement',
            'lieuEtablissement', 'adressePostale', 'telephone', 'email', 'telephoneSecours', 'emailSecours', 'adresseSecours' ]" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div>
                            <button pButton pRipple type="button" label="Ajouter une personne" icon="pi pi-plus" (click)="onDisplayDialogue(personne)"  class="p-button-info mr-2 mb-2"></button>
                            <!--<button pButton label="Effacer" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>-->
                        </div>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche" class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nom">NOM <p-sortIcon field="nom"></p-sortIcon>
                        </th>
                        <th pSortableColumn="prenom"> PRENOM <p-sortIcon field="prenom"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nomDeJeuneFille"> NOM DE JEUNE FILLE <p-sortIcon field="nomDeJeuneFille"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateDeNaissance"> DATE DE NAISSANCE<p-sortIcon field="dateDeNaissance"></p-sortIcon>
                        </th>
                        <th pSortableColumn="lieuDeNaissance">LIEU DE NAISSANCE <p-sortIcon field="lieuDeNaissance"></p-sortIcon>
                        </th>
                        <th pSortableColumn="taille"> TAILLE <p-sortIcon field="taille"></p-sortIcon>
                        </th>
                        <th pSortableColumn="poids">POIDS <p-sortIcon field="poids"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tension"> TENSION <p-sortIcon field="tension"></p-sortIcon>
                        </th>
                        <th pSortableColumn="professionActuelle">PROFESSION ACTUELLE <p-sortIcon field="professionActuelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="employeur"> EMPLOYEUR<p-sortIcon field="employeur"></p-sortIcon>
                        </th>
                        <th pSortableColumn="numeroPiecePasseport">NUMERO DE PIECE PASSEPORT <p-sortIcon field="numeroPiecePasseport"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateEtablissement">DATE ETABLISSEMENT <p-sortIcon field="dateEtablissement"></p-sortIcon>
                        </th>
                        <th pSortableColumn="lieuEtablissement">LIEU ETABLISSEMENT <p-sortIcon field="lieuEtablissement"></p-sortIcon>
                        </th>
                        <th pSortableColumn="adressePostale"> ADRESSE POSTALE <p-sortIcon field="adressePostale"></p-sortIcon>
                        </th>
                        <th pSortableColumn="telephone">TELEPHONE <p-sortIcon field="telephone"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email"> EMAIL <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="telephoneSecours">TELEPHONE SECOURS <p-sortIcon field="telephoneSecours"></p-sortIcon>
                        </th>
                        <th pSortableColumn="emailSecours"> EMAILS SECOURS <p-sortIcon field="emailSecours"></p-sortIcon>
                        </th>
                        <th pSortableColumn="adresse"> ADRESSE SECOURS <p-sortIcon field="adresse"></p-sortIcon>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                ACTIONS
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-personne>

                    <tr>
                        <td >
                            {{personne?.nom}}
                        </td>
                        <td >
                            {{personne?.prenom}}
                        </td>

                        <td >
                            {{personne?.nomDeJeuneFille}}
                        </td>
                        <td >
                            {{personne?.dateDeNaissance}}
                        </td>

                        <td >
                            {{personne?.lieuDeNaissance}}
                        </td>
                        <td >
                            {{personne?.taille}}
                        </td>

                        <td >
                            {{personne?.poids}}
                        </td>
                        <td >
                            {{personne?.tension}}
                        </td>
                        <td >
                            {{personne?.professionActuelle}}
                        </td>
                        <td >
                            {{personne?.employeur}}
                        </td>
                        <td >
                            {{personne?.numeroPiecePasseport}}
                        </td>
                        <td >
                            {{personne?.dateEtablissement}}
                        </td>
                        <td >
                            {{personne?.lieuEtablissement}}
                        </td>
                        <td >
                            {{personne?.adressePostale}}
                        </td>
                        <td >
                            {{personne?.telephone}}
                        </td>
                        <td >
                            {{personne?.email}}
                        </td>

                        <td >
                            {{personne?.telephoneSecours}}
                        </td>
                        <td >
                            {{personne?.emailSecours}}
                        </td>
                        <td >
                            {{personne?.adresseSecours}}
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                    (click)="onDisplayDialogueModif(this.personne?.id, this.personne)"
                                    class="p-button-success mr-2 mb-2">
                            </button>

                            <button pButton pRipple type="button"  icon="pi pi-trash"
                                    (click)="deletePersonne(this.personne?.id, this.personne)"
                                    class="p-button-danger mr-2 mb-2"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12">Pas de Personne</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="12">Chargement des données. Veuillez patienter.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Il y'a au total {{ personnes ? personnes.length : 0 }} individus.
                    </div>
                </ng-template>
            </p-table>
        </div>

    </div>

</div>
<p-toast></p-toast>
<p-confirmPopup  [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-confirmPopup>


